<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a class="github" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a class="github" href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a
        class="github github-only"
        href="https://github.com/Sandip-Chavda"
        target="_blank"
        ><i class="fa-brands fa-github fa-beat"></i
      ></a>
      <a class="github" href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="f-info-brand">&copy; Wandor Love Limited</div>
    <div class="f-info-links gap-3">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
