<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-linkedin-in"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-github fa-beat"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="f-info-brand">&copy; Airbnb Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
